h2{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 20px;
    position: sticky;
}

#neelam1{
    position: absolute;
    width: 300px;
    height: 150px;

}

#gandhi2{
    position: absolute;
    width: 300px;
    height: 150px;
    z-index: 1;
    right: 1rem;
}


#peacock1{
    position: absolute;
    width: 300px;
    height: 150px;
    bottom: 400px;

}

#tiger2{
    position: absolute;
    width: 300px;
    height: 150px;
    z-index: 1;
    right: 1rem;
    bottom: 400px;
    position: absolute;
    box-shadow: 5px 5px 2px black;
 
}

#statue1{
    position: absolute;
    width: 300px;
    height: 150px;
    bottom: 180px;

}

#statue2{
    position: absolute;
    width: 300px;
    height: 150px;
    z-index: 1;
    right: 1rem;
    bottom: 180px; 
}

#culture1{
    position: absolute;
    width: 300px;
    height: 150px;
    bottom: 5px;
}

#culture2{
    position: absolute;
    width: 300px;
    height: 150px;
    z-index: 1;
    right: 1rem;
    bottom: 5px; 
}

#flag{
    position: absolute;
    width: 600px;
    left: 450px;
    bottom: 150px;
    border-radius: 10px;

}
